<div class="sessions-login">
    <% if @error_message %>
      <div class="form-error">
        <%= @error_message %>
      </div>
    <% end %>

    <%= form_with url: "/sessions/login", local: true do |f| %>
    <%= image_tag "bestlife.png", width: "200", height: "120", style: "margin-bottom: 20px;" %>

    <h1>ログイン</h1>

    <p>メールアドレス</p>
    <%= f.text_field :email, value: params[:email], placeholder: "Email", type: "email", autocomplete: "email" %>

    <p>パスワード</p>
    <%= f.password_field :password, value: params[:password], placeholder: "Password", autocomplete: "current-password" %>

    <%= f.submit "Login" %>

    <div class="links">
        <a href="#">パスワードをお忘れですか？</a>
        <a href="#">新規登録</a>
    </div>
<% end %>

</div>
